.container {
	border-radius: 25px;
  	border: 1px solid grey;
  	padding: 10px;
  	width: 200px;
  	font-family: 'Roboto', sans-serif;
}

#dropdownMenuButton {
	position: relative;
	color: black;
	background-color: transparent;
	border: 1px solid grey;
}

.dropdown {
	float: right;
	margin-right: 5px;
	margin-bottom: 50px;
}

.FYP {
	text-decoration: underline;
	font-size: 13px;
}

.col {
	width: 10%;
}

.form-row {
	float: right;
	display: block;
	width: 20%;
}

body {
	font-family: 'Roboto', sans-serif;
}