.container {
	border-radius: 25px;
  	border: 1px solid grey;
  	padding: 15px;
  	width: 200px;
  	font-family: 'Roboto', sans-serif;
}

#dropdownMenuButton {
	position: relative;
	color: black;
	background-color: transparent;
	border: 1px solid grey;
}

.dropdown {
	float: right;
	margin-right: 5px;
}

#FYP {
	text-decoration: underline;
	font-size: 13px;
	color: blue;
}

.col {
	width: 10%;
}

.form-row {
	float: right;
	display: block;
	width: 20%;
}

body {
	font-family: 'Roboto', sans-serif;
}

.form-check-label {
	font-size: 13px;
}

.fa-question-circle {
	color: blue;
}
/*
.btn-lg {
	margin-left: 233px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	border-radius: 25px;
	width: 180px;
	margin-bottom: 20px;
	border:2px solid black;
	text-align: center;
}
*/
.btn-lg-back {
	background-color: #999999;
	margin-left: 233px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	border-radius: 25px;
	width: 150px;
	margin-bottom: 20px;
	border:1px solid #999999;
	text-align: center;
	color: white;
}

.btn-lg-next {
	background-color: #8fba27;
	margin-left: 233px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	border-radius: 25px;
	width: 150px;
	margin-bottom: 20px;
	border:1px solid #8fba27;
	text-align: center;
	color: white;
}

.btn-lg-back:hover {
	background-color: #999999;
	color: white;
}

.btn-lg-next:hover {
	background-color: #8fba27;
	color: white;
}

.form-row {
	
	width: 30%;
}

.col-auto {
	width: 30%
}

#dropdownMenuButton{
	background-color: white;
	color: grey;
	border: 1px solid #ced4da;
	margin-bottom: 8px;
}

.form {
	width: 100%;
	float: left;
}

#CompanyExamples1 {
	float: left;
}

.agreement {
	font-size: 16px;
}















