.container {
	border-radius: 25px;
  	border: 1px solid grey;
  	padding: 15px;
  	width: 200px;
  	font-family: 'Roboto', sans-serif;
}

.form-check-label {
	font-size: 13px;
}

.btn-lg-back {
	background-color: #999999;
	margin-left: 210px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	border-radius: 25px;
	width: 150px;
	margin-bottom: 20px;
	border:1px solid #999999;
	text-align: center;
	color: white;
}

.btn-lg-next {
	background-color: #8fba27;
	margin-left: 210px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	border-radius: 25px;
	width: 150px;
	margin-bottom: 20px;
	border:1px solid #8fba27;
	text-align: center;
	color: white;
}

.btn-lg-back:hover {
	background-color: #999999;
	color: white;
}

.btn-lg-next:hover {
	background-color: #8fba27;
	color: white;
}

#dropdownMenuButton{
	background-color: white;
	color: grey;
	border: 1px solid #ced4da;
	margin-bottom: 8px;
}

.form-control {
	width: 80%;
}

#options1 {
	border: 1px solid #ced4da;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}







